<div>
  <main>
    <div>
      <input type="number" [value]="num" (input)="onInputChange($event)" />
      <button (click)="calculate()">Calculate</button>
      <hr />
      <table border="1" *ngIf="tabuada.length > 0">
        <thead>
          <tr>
            <th>Multiplicador</th>
            <th>Resultado</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of tabuada">
            <td>{{ row.multiplier }}</td>
            <td>{{ row.result }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </main>

  <footer>
    Desenvolvido por <strong>thayllaa</strong> | © 2022
    <br />
    <a href="https://github.com/thayllaa" target="_blank">GitHub</a> | 
    <a href="https://www.linkedin.com/in/thaylla-de-santana-bispo-dos-santos-894b42236/" target="_blank">LinkedIn</a>
  </footer>
</div>